<!DOCTYPE html>
<html data-theme="lemonade">
  <head>
    <title><%= content_for(:title) || "Favolog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="relative w-full lg:w-[1024px] mx-auto text-slate-700!">
      <header class="flex justify-between absolute w-full left-0 p-2">
        <figure>
          Favolog
        </figure>
        <nav class="">
          <ul class="flex justify-center space-x-4">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Projects</a></li>
            <li><a href="/about">Blogs</a></li>
          </ul>
        </nav>
        <div class="flex">
          <a href="/login">Login</a>
          <a href="/signup">Signup</a>
        </div>
      </header>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
